table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d1eb99
}

th {
    background-color: #575266;
    color: rgb(134, 40, 87);
}