table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #be842c
}

th {
    background-color: #afd427;
    color: rgb(134, 40, 40);
}