table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d1eb10
}

th {
    background-color: #2a0dbb;
    color: rgb(238, 230, 234);
}